<div class="container-fluid pl-5 pr-5">
    <div class="card boeing-card mb-3">
      <div class="card-header">
          <div class="pull-left">
              <h6>                    
                  <img src='./assets/img/icon/list-icon.png' alt="Supplier Details" />
                  <span>Supplier Details</span>
              </h6>
          </div>
          <div class="pull-right">
              <div class="btn-group">
                  <button type="button" class="btn btn-primary boeing-btn" routerLink="/supplier/supplierlist"><img src='./assets/img/icon/arrow-left.png' class="boeing-w-auto" alt="Back" />Back</button>                  
              </div>
          </div>        
      </div>    
      <div class="card-body min-ht-419px">  
          <div class="row mb-3">
              <div class="col-md-2"> 
                  <div class="boeing-qs-lg-data boeing-dark-grey--font">Supplier Name</div> 
                  <div class="boeing-ans-data boeing-dark-grey--font">John Smith</div>                  
              </div>
              <div class="col-md-2">
                  <div class="boeing-qs-lg-data boeing-dark-grey--font">Location</div> 
                  <div class="boeing-ans-data boeing-dark-grey--font"><i class="fa fa-map-marker"></i>Arizona</div>                         
              </div>
          </div> 
          <div class="row">
              <div class="col-md-11">
                  <div class="boeing-qs-lg-data boeing-dark-grey--font">Description</div> 
                  <p class="boeing-ans-data boeing-dark-grey--font">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ex id erat aliquet ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque ac metus arcu. Vestibulum efficitur blandit enim sit amet interdum. Aliquam tempus eget velit ac auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ut varius tortor.
                  </p>  
              </div>
          </div> 
          <div class="row pb-1 boeing-grey-bor-bottom">
              <div class="col-md-11">
                  <div class="boeing-qs-lg-data boeing-dark-grey--font">Alias</div> 
                  <p class="boeing-ans-data boeing-dark-grey--font">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ex id erat aliquet ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque ac metus arcu. Vestibulum efficitur blandit enim sit amet interdum. Aliquam tempus eget velit ac auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ut varius tortor.
                  </p>  
              </div>
          </div>                    
      </div>    
  </div>
  </div>
  
  
