<div class="container-fluid pl-5 pr-5">
    <div class="card boeing-card mb-3">
      <div class="card-header">
          <div class="pull-left">
              <h6>
                  <img src='./assets/img/icon/compare.png' alt="Role List" />
                  <span>Compare Supplier Assessment</span>
              </h6>
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-primary boeing-btn" routerLink="/compare/comparsion"><i class="boeing-data-icon"><img src='./assets/img/icon/compare_btn.png' alt="Compare"/></i>Compare</button>
          </div>
      </div>
      <div class="card-body min-ht-419px">
            <div class="row mt-2 mb-3 boeing-light-grey-color boeing-filter-custom-grp">
                    <div class="col-md-6 pl-3">
                            <div class="select-number-of-records">
                                <label for="select-number-of-records">Select</label>:
                                <select class="select-range" [ngModel]="selectedLimitList" (ngModelChange)="onLimitChange($event)" >
                                    <option [value]="i" *ngFor="let i of showLimitList">{{i}}</option>
                                </select>
                            </div>
                            <!-- <div class="select-number-of-records ml-3">
                                <label for="select-number-of-records">Select All</label>:
                                <label class="datatable-checkbox"><input type="checkbox" (click)="onChecked($event)"></label>
                            </div> -->
                            
                            <form name="search" #q="ngForm">
                                <div class="boeing-search-filter ml-3"> 
                                    <select #changeSize name="category" class="select-range" [(ngModel)]="model.searchField"
                                    (ngModelChange)="onSelectField($event)">
                                       <option value="All">All</option>
                                       <!-- <option value="1">Knowlegde Content</option> -->
                                       <option value="Strengths">Strengths</option>
                                       <!-- <option value="3">Recommendation</option> -->
                                       <option value="Observations">Observations</option>
                                       <option value="Recommendations">Recommendations</option>
                                       <option value="Weakness">Weakness</option>
                                       <option value="Passage">Passage</option>
                                   </select>
                                </div>
                                <div class="input-group boeing-form-input-group ml-2">
                                    <input class="form-control border-right-0 border ml-2" name="searchQuery" type="search" value="" />
                                    <span class="input-group-append">
                                        <div class="input-group-text border-left-0 border bg-transparent"><i class="fa fa-search"></i></div>
                                    </span>
                                </div>
                            </form>                            
                        </div>                                               
                        <div class="col-md-6">
                            <div class="filter-sorting pull-right">
                                <i class="fa fa-filter boeing-light-grey-color filter-pointer" (click)="toggleFilterOption($event)" aria-hidden="true"></i>
                                <label for="filtering" class="pl-1 filter-pointer" (click)="toggleFilterOption($event)">Filter</label><span class="pl-3 pr-3">|</span>
                                <label for="sorting">Sort by</label>:
                                <select class="select-to-sort">
                                  <option value="supplier name">Supplier Name</option>
                                  <option value="Location">Location</option>
                                  <option value="State">State</option>
                                  <option value="Country">Country</option>
                                </select>
                              </div>
                        </div>
              </div>
              <div class="row boeing-filter-container" *ngIf="showFilterOption">
                  <div class="col-md-12">
                    <form #form="ngForm" name="form">
                      <div class="filter-layout">
                          <div class="col-md-1 col-sm-4">
                          <p class="pr-2 mb-0">Year</p>
                          <i class="fa fa-caret-down"></i>
                          <select class="select-year mt-1" name="year" [ngModel]="selectedYearList" (ngModelChange)="onYearChange($event)" >
                            <option [value]="i" *ngFor="let i of showYearList">{{i}}</option>
                          </select>
                          </div>
                          <div class="col-md-2 col-sm-4">
                          <p class="pr-2 mb-0">Engineering Function</p>
                          <i class="fa fa-caret-down"></i>
                          <div class="filter-supplier">
                              <select class="select-supplier mt-1" name="suppliers" [ngModel]="selectedSupplier" (ngModelChange)="onSupplierChange($event)" >
                                <option value="" >Select Supplier</option>
                                <option [value]="i" *ngFor="let i of supplierList">{{i}}</option>
                                </select>
                          </div>
                          <!-- <select class="select-range" [ngModel]="selectedLimitList" (ngModelChange)="onLimitChange($event)" >
                            <option [value]="i" *ngFor="let i of showLimitList">{{i}}</option>
                          </select> -->
                          </div>
                          <div class="col-md-2 col-sm-4">
                            <p class="pr-2 mb-0">Engineering Sub Function</p>
                            <i class="fa fa-caret-down"></i>
                            <div class="filter-supplier">
                                <select class="select-supplier mt-1" name="suppliers" [ngModel]="selectedSupplier" (ngModelChange)="onSupplierChange($event)" >
                                  <option value="" >Select Supplier</option>
                                  <option [value]="i" *ngFor="let i of supplierList">{{i}}</option>
                                  </select>
                            </div>
                            <!-- <select class="select-range" [ngModel]="selectedLimitList" (ngModelChange)="onLimitChange($event)" >
                              <option [value]="i" *ngFor="let i of showLimitList">{{i}}</option>
                            </select> -->
                            </div>
                            <div class="col-md-2 col-sm-4">
                              <p class="pr-2 mb-0">Airplane Program</p>
                              <i class="fa fa-caret-down"></i>
                              <div class="filter-supplier">
                                  <select class="select-supplier mt-1" name="airplane" [ngModel]="selectedAirplane" (ngModelChange)="onAirprogramChange($event)" >
                                    <option value="" >Select Program</option>
                                    <option [value]="i" *ngFor="let i of airplaneProgramList">{{i}}</option>
                                    </select>
                              </div>
                              <!-- <select class="select-range" [ngModel]="selectedLimitList" (ngModelChange)="onLimitChange($event)" >
                                <option [value]="i" *ngFor="let i of showLimitList">{{i}}</option>
                              </select> -->
                              </div>
                          <div class="col-md-2 col-sm-4">
                            <p class="pr-2 mb-0">Assessment Type</p>
                            <i class="fa fa-caret-down"></i>
                            <select class="filter-assessment-type mt-1" name="assessment-type" [ngModel]="selectedAssessment" (ngModelChange)="onAssessmentChange($event)" >
                                <option value="" >Select Assessment Type</option>
                              <option [value]="i" *ngFor="let i of assessmentTypeList">{{i}}</option>
                            </select>
                          </div>
                          <div class="col-md-3  col-sm-4">
                              <button type="button" class="btn btn-primary boeing-btn pull-right mt-2"><i class="boeing-data-icon"><img src='./assets/img/icon/show.png' alt="Show"/></i>Show</button>
                          </div>
                        </div>
                     </form>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <ngx-datatable #myTable
                    class="material boeing-search-custom boeing-comparelist"
                    [headerHeight]="40"
                    [rowHeight]="'auto'"
                    [footerHeight]="40"
                    [count]="true"
                    [limit]="selectedLimitList"
                    [columnMode]="'force'"
                    [selectionType]="'checkbox'"
                    [selected]="selected"
                    [rowClass]=""
                    [rows]="rows"
                    (select)='onSelect($event)'>
                      <ngx-datatable-column
                          [width]="130"
                          [sortable]="false"
                          [canAutoResize]="false"
                          [draggable]="false"
                          [resizeable]="false"
                          [headerCheckboxable]="true"
                          [checkboxable]="true">
                      </ngx-datatable-column>
                      <ngx-datatable-column name="">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div class="assessment-type"><a class="boeing-link-title" [routerLink]="['/supplier/supplierdetails']">{{row.AssessorType}}</a></div>
                          <div class="assessment-date boeing-ans-data"><i class="fa fa-calendar" aria-hidden="true"></i>{{row.date}}</div>
                        </ng-template>
                    </ngx-datatable-column>
                      <ngx-datatable-column name="">
                          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                            <div class="boeing-qs-lg-data">Supplier Name</div>
                            <div class="location-map boeing-ans-data">{{row.SupplierName}}</div>
                          </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div class="location-type boeing-qs-lg-data">Location</div>
                          <div class="location-map boeing-ans-data"><i class="fa fa-map-marker" aria-hidden="true"></i>{{row.SupplierState}}</div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div class="score-type boeing-qs-lg-data">Score</div>
                          <div class="location-description boeing-ans-data">{{row.AssessmentContent.Rank}}</div>
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                          <div class="score-type boeing-qs-lg-data">Capability</div>
                          <div class="location-description boeing-ans-data">{{row.AssessmentContent.Capabilities.length}}</div>
                        </ng-template>
                      </ngx-datatable-column>                     
                      <ngx-datatable-footer>
                          <ng-template ngx-datatable-footer-template
                          let-rowCount="rowCount"
                          let-pageSize="pageSize"
                          let-selectedCount="selectedCount"
                          let-curPage="curPage"
                          let-offset="offset"
                          let-isVisible="isVisible">
                            <div class="datatable-footer datatable-footer-inner">
                                  <div class="page-count">
                                      Showing
                                      {{selectedLimitList}}
                                      off 100
                                  </div>
                            </div>
                            <datatable-pager
                               [pagerLeftArrowIcon]="'datatable-icon-left'"
                               [pagerRightArrowIcon]="'datatable-icon-right'"
                               [page]="curPage"
                               [size]="pageSize"
                               [count]="rowCount"
                               [hidden]="!((rowCount / pageSize) > 1)"
                               (change)="myTable.onFooterPage($event)">
                            </datatable-pager>
                          </ng-template>
                  </ngx-datatable-footer>
                    </ngx-datatable>
                </div>
              </div>
      </div>
  </div>
  </div>

