<div class="container-fluid pl-5 pr-5">
    <div class="card boeing-card mb-3">
      <div class="card-header">
          <div class="pull-left">
              <h6>                    
                  <img src='./assets/img/icon/list-icon.png' alt="Assessment Details" />
                  <span>Assessment Details</span>
              </h6>
          </div>
          <div class="pull-right">
              <div class="btn-group mr-2" dropdown> 
                  <button type="button" class="btn btn-primary boeing-btn mr-2"><img src='./assets/img/icon/delete-trash.png' class="" alt="Delete" />Delete</button>                
                  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary boeing-btn pr-2 dropdown-toggle"
                          aria-controls="dropdown-basic">
                          <img src='./assets/img/icon/export.png' alt="Export" />Export <span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">PDF</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Excel</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#">Word</a></li>                  
                  </ul>
                </div>
            <button type="button" class="btn btn-primary boeing-btn mr-2"><img src='./assets/img/icon/email.png' class="boeing-w-14-px" alt="Email" />Email</button>
            <button type="button" class="btn btn-primary boeing-btn mr-2"><img src='./assets/img/icon/print.png' alt="Print" />Print</button>
            <button type="button" class="btn btn-primary boeing-btn" routerLink="/assessment/supplierassessmentdetails"><img src='./assets/img/icon/arrow-left.png' class="boeing-w-auto" alt="Back" />Back</button>                  
          </div>        
      </div>    
      <div class="card-body no-padding">  
          <div class="ml-3 mr-3 mb-3">
              <div class="boeing-section-grp">
                  <div class="row">
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Assessment Name</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Assessment ABC</div>                  
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Assessment Mode</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">General</div>                         
                      </div>
                  </div>                                   
              </div>
              <div class="boeing-section-grp">
                  <div class="row">
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Date</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold"><i class="fa fa-calendar"></i>12/05/2018</div>                  
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Supplier Name</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Pi</div>                         
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Supplier Abbreviation</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">
                             <a>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ex id erat aliquet ornare.
                             </a>
                             <div class="more-info">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ex id erat aliquet ornare.
                            </div>
                          </div>                                              
                      </div>
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Supplier Location</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold"><i class="fa fa-map-marker"></i>Arizona</div>                  
                      </div>
                  </div>    
              </div>
              <div class="boeing-section-grp">
                  <div class="row">
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">SOW</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Lorem ipsum</div>                  
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Engineering Functions</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Flight Engineering</div>                         
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Engineering Sub Functions</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Aerodynamics</div>                                                                     
                      </div>
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Work Package/SOW</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Lorem ipsum</div>                  
                      </div>
                  </div>    
              </div>
              <div class="boeing-section-grp">
                  <div class="row">
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Capabilities</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Lorem ipsum</div>                  
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Airplane Program</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Freighters</div>                         
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Design Delegation Level</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">10</div>                                                                     
                      </div>
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Certification</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Lorem ipsum</div>                  
                      </div>
                  </div>    
              </div>
              <div class="boeing-section-grp boeing-grey-bor-bottom">
                  <div class="row">
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Previous Aerospace Program Experience</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Lorem ipsum</div>                  
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Strengths</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">
                            <a>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ex id erat aliquet ornare.
                            </a>
                            <div class="more-info">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ex id erat aliquet ornare.
                            </div>
                         </div>                         
                      </div>
                      <div class="col-md-3">
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Risk/Awareness</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold"></div>                                                                     
                      </div>
                      <div class="col-md-3"> 
                          <div class="boeing-qs-lg-data boeing-dark-grey--font unbold">Observations</div> 
                          <div class="boeing-ans-data boeing-dark-grey--font bold">Lorem ipsum</div>                  
                      </div>
                  </div>    
              </div>
          </div> 
          <div class="boeing-doc-list-container">
             <div class="boeing-doc-list-header">
                <h6>
                    <img src='./assets/img/icon/document.png' alt="Assessment Documents" />
                    <span>Assessment Documents</span>
                </h6>
             </div>
             <div class="boeing-doc-list-body">
                    
             </div>
          </div>                          
      </div>    
  </div>
  </div>
  
  
  
  