<div class="container-fluid pl-5 pr-5">
  <div class="card boeing-card mb-3">
    <div class="card-header">
        <div class="pull-left">
            <h6>
                <img src='./assets/img/icon/compare.png' alt="Role List" />
                <span>Comparison</span>
            </h6>
        </div>
        <div class="pull-right">
          <div class="btn-group">
              <button type="button" class="btn btn-primary boeing-btn" routerLink="/compare"><img src='./assets/img/icon/arrow-left.png' class="boeing-w-auto" alt="Back" />Back</button>                  
          </div>
      </div>    
    </div>
    <div class="card-body min-ht-419px">
      <div class="row mt-2 comparison-row">
          <div class="col-md-2">
            <div class="comp-title pt-3">
              <h6>Title will come here</h6>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, fugiat suscipit laudantium ut fugit mollitia facilis corporis voluptates officiis temporibus dolorem, nesciunt quo possimus, enim ab sed repellat saepe nulla.</p>
            </div>
          </div>
          <div class="col-md-2 alert compare-dismiss fade show" role="alert">
              <div class="compare-widget compare-widget-bg-maroon">
                  <img src='./assets/img/usericon.png' alt="Profile"/>
                  <p><strong>Matbrook</strong> <span><i class="fa fa-map-marker" aria-hidden="true"></i> Newyork, USA</span></p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>
          <div class="col-md-2 alert compare-dismiss fade show" role="alert">
              <div class="compare-widget compare-widget-bg-green">
                  <img src='./assets/img/usericon.png' alt="Profile"/>
                  <p><strong>Matbrook</strong> <span><i class="fa fa-map-marker" aria-hidden="true"></i> Newyork, USA</span></p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>
          <div class="col-md-2 alert compare-dismiss fade show" role="alert">
              <div class="compare-widget compare-widget-bg-lgreen">
                  <img src='./assets/img/usericon.png' alt="Profile"/>
                  <p><strong>Matbrook</strong> <span><i class="fa fa-map-marker" aria-hidden="true"></i> Newyork, USA</span></p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>
          <div class="col-md-2 alert compare-dismiss fade show" role="alert">
              <div class="compare-widget compare-widget-bg-lgray">
                  <img src='./assets/img/usericon.png' alt="Profile"/>
                  <p><strong>Matbrook</strong> <span><i class="fa fa-map-marker" aria-hidden="true"></i> Newyork, USA</span></p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>
          <div class="col-md-2 alert compare-dismiss fade show" role="alert">
              <div class="compare-widget compare-widget-bg-dark-gray">
                  <img src='./assets/img/usericon.png' alt="Profile"/>
                  <p><strong>Matbrook</strong> <span><i class="fa fa-map-marker" aria-hidden="true"></i> Newyork, USA</span></p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          </div>
      </div>
      <div class="row">
        
      </div>
    </div>
  </div>
</div>

